<!DOCTYPE html>
<html>
<head>
    <link href="style.css" rel="stylesheet">
    <link href="public/style.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>Ghibli movies</title>
</head>
<body>
        <div id="root">
            {{{body}}}
        </div>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="sanitise.js"></script>
</html>