<!DOCTYPE html>
<html>
<head>
    <link href="style.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>Ghibli movies</title>
</head>
<body>
    <div>
        <h3>Search for a Ghibli film</h3>
        <input id="search" type="text"/>
         <button id="searchSubmit" type="button">search</button>
    </div>
    <form id="info" method="POST" action="/edit">
    <div id="root">
         {{{body}}}
    </div>
    </form>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="scripts.js"></script>
</html>