<!DOCTYPE html>
<html>
<head>
    <link href="style.css" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
    <link href="public/style.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>Ghibli movies</title>
</head>
<body>
            {{{body}}}
</body>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="scripts.js"></script>
</html>