
<body id="body">
        <div class="logo">
            <div class="loginBox">
                <h3 class="loginText">Login with your email</h3>
                <form class="login" method="POST" action="/checkExistence">
                    <input class="email" type="text" name="email"/>
                    <input type="submit" value="Login"/>
                </form>
                <h3 class="publicText">or go to the public site</h3>
                <form class="publicLogin" method="GET" action="/public">
                    <input type="submit" value="Public"/>
                </form>
            </div>
        </div>
</body>        